// boxes component
.component-boxes {

	.boxes {

		@include mediaquery(tablet-portrait) {
			@include flexbox(flex);
		}
	}

	.box-item {
		padding: 0;
		margin-bottom: $gap;

		@include mediaquery(tablet-portrait) {
			margin:0 2% 0 0;
			padding: $gap*1.5;
			width: 23.5%;
		}
		&:last-child {
			margin-bottom: 0;
			@include mediaquery(tablet-portrait) {
				margin-right: 0;
			}
		}

		&:nth-child(4n) {
			@include mediaquery(tablet-portrait) {
				margin-right: 0;
			}
		}

		&.row-text-white {
			p, .headline6, .body-text {
				color: white;
			}
		}

		&.row-text-black {
			p, .headline6, .body-text {
				color: color('global', 'black');
			}
		}
	}

}
