// contact cta
.component-contact-cta {
	padding: $gap*4 0;

	.overlay-light {
		position: absolute;
		top:0;
		left: 0;
		right: 0;
		height: 100%;
		background-color: rgba(0, 0, 0, .1);
	}

	.headline6 {
		margin-bottom: $gap*1.5;
		line-height: 1.6;

		@include tablet-portrait {
			margin-bottom: 0;
		}
	}

	.cta {
		text-align: left;

		@include tablet-portrait {
			text-align:right;
		}

		.button {
			margin:0 0 $gap 0;
			min-width: 150px;
			
			@include tablet-landscape {
				margin:0 0 0 $gap;
			}

			@include desktop {
				min-width: 220px;
			}

			&:first-child {
				@include tablet-landscape {
					margin-left: 0;
				}
			}
		}
		
	}
}