// feature list component
.component-feature-list {
	background-color: white;
	display: none;
	
	.medium-hero &, .tall-hero & {
		@include tablet-portrait {
			display: block;
		}
	}

	@include tablet-landscape {
		display: block;
	}

	@include desktop {
		margin-left: calc(100% - 414px);
		width: 100%;
		max-width: 414px;
	}

	.headline5 {
		margin-bottom: $gap;
	}

	header {
		padding:$gap $gap 0;
		border-bottom: 1px solid color('neutral', 'putty');
		@include flexbox(flex);
		@include flexbox-justify-content(space-between);
		@include flexbox-align-items(baseline);
	}

	.featured-item {
		cursor: pointer;
		@include transition(all .2s ease-in-out);

		.item-inner {
			border-bottom: 1px solid color('neutral', 'putty');
			padding: $gap 0;
			margin: 0 $gap;
			@include flexbox(flex);
			@include flexbox-align-items(center);
		}
		
		&:last-child .item-inner {
			border-bottom:0;
		}

		.responsive-wrapper {
			width: 118px;
			height: 92px;
			margin-right: $gap;

			img {
				@extend .responsive-image;
				height: auto;
				width: 100%;
			}
		}

		.image-wrapper {
			width: 118px;
			height: 92px;
			margin-right: $gap;

			img {
				height: auto;
			    width: auto;
			    max-width: 100%;
			    max-height: 100%;
			}			
		}

		.feature-item-info {
			width: calc(100% - 138px);

			&.no-image {
				width: 100%;
			}
		}

		.eyebrow {
			display: inline-block;
			margin-bottom: $gap*.5;

			&:first-child {
				margin-right: $gap;
			}
		}

		.small-text {
			a {
				text-decoration: none;
				color: inherit;
			}
		}

		&:hover {
			background-color: color('ground', 'blue');
			@include transform(scale(1.05));

			.item-inner {
				border: 1px solid transparent;
			}

			.eyebrow, .small-text {
				color: white;
			}
		}
	}
}
