.component-follow {
	color: color('global', 'white');
	margin-top: $gap;
	text-align: center;

	@include mediaquery(tablet-portrait) {
		margin-top: 0;
	}

	.fa {
		color: color('global', 'white');
		font-size: 20px;
		vertical-align: middle;
	}

	span {
		display: block;
		text-transform: uppercase;
		vertical-align: middle;
		@include sans-serif-bold;
	}
}