// share

.component-share {
	text-align: left;
	margin-top: $gap;

	@include mediaquery(tablet-portrait) {
		margin-top: 0;
		text-align: right;
	}

	.fa {
		color: color('global', 'black');
		font-size: 20px;
		margin-left: $gap*.5;
		vertical-align: middle;
	}

	span {
		vertical-align: middle;
		display: inline-block;
	}
}