.component-tile {
	padding-bottom: 60px;
	position: relative;
	text-align: center;

	&.component-tile-large {
		height: 680px;
	}

	&.component-tile-small {
		height: 340px;
	}

	.content-wrapper {
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.copy {
		font-size: 1.7em;
		line-height: 1.5em;
		margin: 1em 0 0;
	}

	&.open {
		.box {
			max-height: 500px;
			transition: max-height 1s ease-in-out;

			.title {
				transform: translateY(10px);
				transition: transform 500ms ease-in-out;
			}

		}
		
		.box-toggle {
			top: 0.5em;
			transform: rotate(135deg);
			transition: transform 300ms ease-out, top 300ms ease-out;

			@include mediaquery-max(desktop) {
				top: 0.3em;
			}
		}
	}

	.box {
		background-color: white;
		bottom: -50px;
		position: absolute;
		margin: 0 0 2.5em 0;
		padding: 0 2em 2em;
		text-align: left;
		left: 0;
		max-width: 400px;
		max-height: 70px;
		overflow: hidden;
		transition: max-height 1s ease-in-out;
		width: 80%;

		@include mediaquery-max(desktop) {
			margin: 0 0 3.5em 0;
			max-height: 55px;
			//padding: 15px 20px;
		}

		.box-header{
			height: 70px;
			display: flex;
			align-items: center;

			@include mediaquery-max(desktop) {
				height: 55px;
			}
		}
	}

	.box-toggle {
		color: color('global', 'dark-grey');
		//content: "+";
		//background-color: red;
		cursor: pointer;
		font-size: 4em;
		position: absolute;
		right: 0.5em;
		top: 0.2em;
		padding: 2px 0 10px 2px;
		transition: transform 500ms ease-in-out;
		transition: transform 300ms ease-out, top 300ms ease-out;;


		@include mediaquery-max(desktop) {
			top: 2px;
		}

		&:active, &:hover, &:focus{
			-webkit-tap-highlight-color: transparent;
		}
	}

	.title {
		@include serif-bold;
		font-size: 2.2em;

		transition: transform 1200ms ease-in-out;
		@include mediaquery(tablet-landscape) {
			font-size: 3em;
		}
	}
}