// styles for styleguide
.styleguide {
	background-color:#fff;
	padding:$gap*2;

	th, td {
		padding:$gap;
	}

	th, tr, td {
		line-height:1.4;
		@include sans-serif;
		@include font-size($font-size-p);
	}

	.component-styles {
		margin-bottom: $gap*3;
	}

	.button-bgnd, .black {
		background-color: color('black');
		padding:$gap;
		margin-top: $gap;
		color: color('white');
	}

	.color-grid {
		font-size: 12px;
	}
}