// counter component
.component-counter {	
	@include clearRow;
	

	.counters {
		@include tablet-landscape {
			@include flexbox(flex);
			@include flexbox-justify-content(center);
		}

		

	}

	.counter-item {
		margin-bottom: $gap*3;
		&:last-child {
			margin-bottom: 0;
		}

		@include tablet-landscape {
			margin-bottom: 0;
			margin-right: 10%;
			&:last-child {
				margin: 0;
			}			
		}

		.headline6 {
			margin-top: $gap;
			color: white;
			@include sans-serif;
		}
	}


}

.stack-counters .component-counter {

	.counters {
		@include tablet-landscape {
				display: block;
		}
	}

	.counter-item {
		margin-bottom: $gap*3;

		&:last-child {
			margin-bottom: 0;
		}

		img {
			@include tablet-landscape {
				width: auto;
			}
		}
	}
}
