//posts list
.component-posts-list {
	.eyebrow {
		display: inline-block;
		margin-right: $gap;
	}

	a {
		color: color('accessible', 'link-blue');
		text-decoration: underline;
		font-size: 14px;

		&:hover {
			text-decoration: none;
		}
	}

	.post-columns {
		@include tablet-portrait {
			column-count: 2;
			column-gap: $gap*2;
		}

		@include desktop {
			column-count: 3;
		}
	}

	.post-item {
		margin-bottom: $gap;
	}

	.language {
		background-color: transparent;
		padding: 0;
		display: inline-block;
		height: auto;
		margin-bottom: 0;

		.language-type {
			margin-right: $gap*.5;
		}
	}
}