// signup box
.component-signup {
	background:url('../images/signup-background.png') no-repeat 0 0;
	background-size:cover;
	padding: $gap*2.5 $gap;


	.headline6 {
		margin-bottom: $gap*3;

		@include tablet-portrait {
			margin-bottom: $gap*1.5;
		}
	}

	input[type="email"] {
		border-bottom: 1px solid white;
		font-size: 22px;
		margin-bottom: 0;
		@include placeholder(white);
	}

	.submit {	
		top: 9px;

		.icon-right-chevron {
			opacity: 1;
		}
	}

	.eyebrow {
		margin-bottom: $gap;
	}

}
