.text-image-overlapped {
  $overlapping: 45px;
  display: flex;
  flex-direction: column;

  .overlapped {
    width: 92%;
    padding: 25px;
    background-size: contain;
    background: no-repeat center;
    transform: translate(4%, -$overlapping);
  }

  .overlapped-list {
    .list-title,
    .list-item {
      font-weight: bold;
      @include head-line-2;
    }

    &:nth-of-type(n + 2) {
      margin-top: 25px;
    }
  }

  .paragraph {
    font-weight: bold;
    text-align: center;
    padding: 20px 12.5px calc(#{$overlapping} + 20px);
  }

  @include mediaquery-max(desktop){
    background-color: transparent !important;
  }

  @include mediaquery(desktop){
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .overlapped {
      width: 33.33%;
      padding: 100px 75px 70px;
    }

    .overlapped-list {
      &:nth-of-type(n + 2) {
        margin-top: 55px;
      }
    }

    .paragraph {
      padding: 0;
      width: 33.33%;
    }
  }
}