.text-image-overlapped {
  $overlapping: 45px;
  display: flex;
  flex-direction: column;

  .overlapped {
    $overlappedWidth: 85vw;
    width: $overlappedWidth;
    height: 92vw;
    max-height: 550px;
    background: no-repeat center;
    background-size: contain;
    // this `10px` is because body padding
    transform: translate(calc((100vw - #{$overlappedWidth}) / 2 - 10px ), -$overlapping);
  }

  .paragraph {
    font-weight: bold;
    text-align: center;
    padding: 20px 12.5px calc(#{$overlapping} + 20px);
  }

  @include mediaquery-max(desktop){
    background-color: transparent !important;
  }

  @include mediaquery(desktop){
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .overlapped {
      width: 33.33%;
      transform: translateY(-$overlapping);
    }

    .paragraph {
      padding: 0;
      width: 33.33%;
    }
  }
}