// Serif
// =====

@font-face {
	font-family: 'HoeflerTextItalic';
	src:
	url('../fonts/Hoefler_Text_Italic.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HoeflerTextBlackItalic';
	src:
	url('../fonts/Hoefler_Text_Black_Italic.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

// Sans Serif
// ==========

@font-face {
	font-family: 'CenturyGothic';
	src: url('../fonts/CenturyGothic.eot') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CenturyGothic';
	src:  url('../fonts/CenturyGothic.woff') format('woff'), url('../fonts/CenturyGothic.ttf')  format('truetype'), url('../CenturyGothic.svg#CenturyGothic') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Mixins
// ======
@mixin serif {
	font-family: 'HoeflerTextItalic', Georgia, Times, serif;
	font-style: normal;
}

@mixin serif-bold {
	font-family: 'HoeflerTextBlackItalic', Georgia, Times, serif;
	font-style: normal;
	font-weight: 300;
	letter-spacing: 15px;
}

@mixin sans-serif {
	font-family: "CenturyGothic";
	font-style: normal;
	font-weight: 400;
}

@mixin sans-serif-bold {
	font-family: "CenturyGothic";
	font-style: normal;
	font-weight: 700;
}

// Grid and Responsive
// ===================
$gap						: 25px;
$site-width					: 1240px;
$nav-height					: 72px;

$tablet-portrait-breakpoint	: 768px;
$tablet-landscape-breakpoint: 1024px;
$desktop-breakpoint			: 1100px;
$large-desktop-breakpoint	: 1440px;
$nav-breakpoint				: 1150px;

// Colors
// ======
$brand-color-key: 'red' !default;
$brand-colors: (
	'debug': (
		'red': 			#f00
	),
	'global': (
		'black':    #000000,
		'grey': 		#F2F2F2,
		'dark-grey': #808080,
		'navy':			#002136,
		'white': 		#FFFFFF,
		'gold':			#A17F44,
	)
);

// Standard colors
// ===============
$white: #FFFFFF;
$black: #000000;

@function color($key: 'debug', $variant: $brand-color-key) {
	$color: null;
	$color-spectrum: map-get($brand-colors, $key);

	@if $color-spectrum {
			$color: map-get($color-spectrum, $variant);
	}

	@return $color;
}

// Generate background and text color classes based on the color map.
//
// Classes are named as follows:
//
// 		.bg-key-variant
// 		.text-color-key-variant
//
// For example:
//
// 		.bg-green-base
// 		.text-color-high-textDull
//
@each $key, $map in $brand-colors {
	@each $variant, $color in $map {
		.bg-#{$key}-#{$variant} {
			background-color: #{$color};
		}

		.text-color-#{$key}-#{$variant} {
			color: #{$color};
		}
	}
}

// Responsive Font Size Map
// ========================
$font-size-headline1: (
	null  : 1.4rem,
	768px : 3.0rem,
	1024px: 3.0rem,
	1025px: 3.0rem
);

$font-size-headline2: (
	null  : 2.2rem,
	768px : 2.2rem,
	1024px: 2.2rem,
	1025px: 2.8rem
);

$font-size-headline3: (
	null  : 1.1rem,
	768px : 1.4rem,
	1024px: 1.4rem,
	1025px: 1.4rem
);

$font-size-headline4: (
	null  : 0.9rem,
	768px : 1.2rem,
	1024px: 1.0rem,
	1025px: 1.0rem
);

$font-size-p: (
	null  : 1.4rem,
	768px : 1.4rem,
	1024px: 1.4rem,
	1025px: 1.5rem
);

$font-size-p-sans-serif: (
	null  : 1.2rem,
	768px : 1.2rem,
	1024px: 1.2rem,
	1025px: 1.2rem
);
