// Utility classes.

.xs-hidden {
    @include xs-only {
        display: none;
    }
}

.sm-hidden {
    @include sm-only {
        display: none;
    }
}

.md-hidden {
    @include md-only {
        display: none;
    }
}

.lg-hidden {
    @include lg-only {
        display: none;
    }
}

.xl-hidden {
    @include xl-and-up {
        display: none;
    }
}
