.component-responsive-table {
	overflow-y: auto;
	width: 100%;

	.table-title {
		color: $white;
		font-weight: normal;
		margin-bottom: 1em;
		margin-top: 10px;
		text-align: center;
	}

	table {
		border: none;
		width: 100%;

		thead {
			background-color: transparent !important;
			border-bottom: 2px solid $white;
			color: $white;
			text-align: center;
			text-transform: uppercase;

			th {
				border-width: 0;
				font-size: 1rem;
				font-weight: bold;

				@include mediaquery(tablet-landscape) {
					font-size: 1.8rem;
				}
			}
		}

		tbody {
			tr {
				border-bottom: 1px solid #999;
			}

			td {
				border-width: 0;
				color: $white;
				font-size: 1.1rem;
				font-weight: bold;
				padding: 1.2em 0em;
				text-align: center;
				vertical-align: middle;
				@include serif-alt;

				@include mediaquery(tablet-landscape) {
					font-size: 1.6rem;
				}

				.button{
					@include serif-alt;
				}
			}
		}
	}

	.table-footer {
		font-size: 2rem;
		margin-bottom: 2em;
		margin-top: 2em;

		p {
			color: $white;
			font-size: .8rem;
			line-height: 1.8;

			@include mediaquery(tablet-portrait) {
				font-size: 1.5rem;
			}
		}
	}

	.cta {
		margin: 0;

		a {
			background-color: transparent;
			border-color: $white;
			border-width: 2px;
			color: $white;
			display: inline-block;
			font-size: 1.1rem;
			min-width: 100px;
			padding: 1rem 0;
			text-transform: uppercase;
			width: 100px;

			&:hover {
				background-color: $white;
				color: color('global', 'deep-purple');
			}

			@include mediaquery(tablet-landscape) {
				font-size: 1.1rem;
				min-width: inherit;
			}
		}

		&-disabled {
			a {
				cursor: not-allowed;

				&:hover {
					background-color: transparent;
					color: $white;
				}

				border-color: #999;
				border-width: 1px !important;
				display: inline-block;
				padding: 1rem 0;
				width: 100px;
			}
		}
	}
}