// table component
.component-table {
	margin-left: -7%;
    margin-right: -7%;
    width: 114%;


	@include tablet-portrait {
		margin:auto;
		width: 100%;
		padding-bottom:$gap*3;
	}

	.table {
		margin-top: $gap*3;

		@include tablet-portrait {
			@include clearRow;
			@include flexbox(flex);
			@include flexbox-wrap(wrap);
		}

		@include desktop {
			margin-top: 0;
		}

	}

	.table-item {
		background-color: #233341;
		border-bottom: 1px solid color('ground', 'navy');
		padding: $gap*1.75 $gap*1.25;
		
		@include tablet-portrait {
			border-right: 1px solid color('ground', 'navy');
			width: 50%;

			&:nth-child(2n) {
				border-right:0;
			}
			
		}

		.small-text {
			word-wrap: break-word;
		}

	}

	.headline6 {
		margin-bottom: $gap*.5;
	}	

}