.component-turntables {
	height: auto;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	width: 50%;
	@include transform(rotate(90deg))
	@include transition(all .5s ease-in-out);

	&.clone {
		opacity: 0;
		-webkit-animation: TURNTABLES 10s infinite; /* Safari 4+ */
		-moz-animation:    TURNTABLES 10s infinite; /* Fx 5+ */
		-o-animation:      TURNTABLES 10s infinite; /* Opera 12+ */
		animation:         TURNTABLES 10s infinite; /* IE 10+, Fx 29+ */
	}

	.component-row & {
		position: absolute;
	}

	&.preloader {
		height: 450px;
		left: 50vw;
		margin-left: -225px;
		margin-top: -235px;
		opacity: 1;
		top: 50vh;
		width: 450px;
		@include transition(none);

		-webkit-animation: TURNTABLES-LARGE 2.5s; /* Safari 4+ */
		-moz-animation:    TURNTABLES-LARGE 2.5s; /* Fx 5+ */
		-o-animation:      TURNTABLES-LARGE 2.5s; /* Opera 12+ */
		animation:         TURNTABLES-LARGE 2.5s; /* IE 10+, Fx 29+ */

		@include mediaquery(tablet-portrait) {
			margin-left: -232px;
		}
	}
}

.turntable-container {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
}

// Grow and fade out
@-webkit-keyframes TURNTABLES-STATIC {
	0% { 
		opacity: 0;
		transform: scale(1);
	}

	50% { 
		opacity: 1;
	}

	100% { 
		opacity: 0;
		transform: scale(1.3);
	}
}

@-moz-keyframes TURNTABLES-STATIC {
	0% { 
		opacity: 0;
		transform: scale(1);
	}

	50% { 
		opacity: 1;
	}

	100% { 
		opacity: 0;
		transform: scale(1.3);
	}
}

@-o-keyframes TURNTABLES-STATIC {
	0% { 
		opacity: 0;
		transform: scale(1);
	}

	50% { 
		opacity: 1;
	}

	100% { 
		opacity: 0;
		transform: scale(1.3);
	}
}

@keyframes TURNTABLES-STATIC {
	0% { 
		opacity: 0;
		transform: scale(1);
	}

	50% { 
		opacity: 1;
	}

	100% { 
		opacity: 0;
		transform: scale(1.3);
	}
}








// Grow and fade out
@-webkit-keyframes TURNTABLES {
	0% { 
		opacity: 0;
		@include transform(scale(1) rotate(0deg));
	}

	1% { 
		opacity: 0;
		@include transform(scale(1) rotate(90deg));
	}

	50% { 
		opacity: 1;
		@include transform(scale(1.15) rotate(360deg));
	}

	100% { 
		opacity: 0;
		@include transform(scale(1.3) rotate(720deg));
	}
}

@-moz-keyframes TURNTABLES {
	0% { 
		opacity: 0;
		@include transform(scale(1) rotate(0deg));
	}

	1% { 
		opacity: 0;
		@include transform(scale(1) rotate(90deg));
	}

	50% { 
		opacity: 1;
		@include transform(scale(1.15) rotate(360deg));
	}

	100% { 
		opacity: 0;
		@include transform(scale(1.3) rotate(720deg));
	}
}

@-o-keyframes TURNTABLES {
	0% { 
		opacity: 0;
		@include transform(scale(1) rotate(0deg));
	}

	1% { 
		opacity: 0;
		@include transform(scale(1) rotate(90deg));
	}

	50% { 
		opacity: 1;
		@include transform(scale(1.15) rotate(360deg));
	}

	100% { 
		opacity: 0;
		@include transform(scale(1.3) rotate(720deg));
	}
}

@keyframes TURNTABLES {
	0% { 
		opacity: 0;
		@include transform(scale(1) rotate(0deg));
	}

	1% { 
		opacity: 0;
		@include transform(scale(1) rotate(90deg));
	}

	50% { 
		opacity: 1;
		@include transform(scale(1.15) rotate(360deg));
	}

	100% { 
		opacity: 0;
		@include transform(scale(1.3) rotate(720deg));
	}
}



// Grow and fade out
@-webkit-keyframes TURNTABLES-LARGE {
	0% { 
		opacity: 0;
		@include transform(scale(1) rotate(0deg));
	}

	1% { 
		opacity: 0;
		@include transform(scale(1) rotate(90deg));
	}

	50% { 
		opacity: 1;
		@include transform(scale(2) rotate(360deg));
	}

	100% { 
		opacity: 0;
		@include transform(scale(4) rotate(720deg));
	}
}

@-moz-keyframes TURNTABLES-LARGE {
	0% { 
		opacity: 0;
		@include transform(scale(1) rotate(0deg));
	}

	1% { 
		opacity: 0;
		@include transform(scale(1) rotate(90deg));
	}

	50% { 
		opacity: 1;
		@include transform(scale(2) rotate(360deg));
	}

	100% { 
		opacity: 0;
		@include transform(scale(4) rotate(720deg));
	}
}

@-o-keyframes TURNTABLES-LARGE {
	0% { 
		opacity: 0;
		@include transform(scale(1) rotate(0deg));
	}

	1% { 
		opacity: 0;
		@include transform(scale(1) rotate(90deg));
	}

	50% { 
		opacity: 1;
		@include transform(scale(2) rotate(360deg));
	}

	100% { 
		opacity: 0;
		@include transform(scale(4) rotate(720deg));
	}
}

@keyframes TURNTABLES-LARGE {
	0% { 
		opacity: 0;
		@include transform(scale(1) rotate(0deg));
	}

	1% { 
		opacity: 0;
		@include transform(scale(1) rotate(90deg));
	}

	50% { 
		opacity: 1;
		@include transform(scale(2) rotate(360deg));
	}

	100% { 
		opacity: 0;
		@include transform(scale(4) rotate(720deg));
	}
}