#found-hero {
  padding-bottom: 100px;

  @include mediaquery(desktop){
    padding-bottom: 100px;
  }

  .hero-logo {
    display: flex;
    padding-top: 4%;
    justify-content: center;

    @include mediaquery(desktop){
      padding-top: 160px;

      img {
        max-width: 325px;
      }
    }
  }

  .hero-text {
    padding-top: 75px;
    color: color('merino');
    // there is not way to center like this with pureCss
    left: 25%;
    max-width: 50%;

    @include mediaquery(desktop){
      left: 0;
      max-width: 100%;
      padding-top: 115px;
    }
  }
}

#found-categories-banner {
  padding: 20px 0 20px 20px;

  .component-text {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .text-eyebrow,
  .text-headline {
    font-weight: bold;
  }

  .text-eyebrow {
    @include headLine2;
    margin-right: 8px;
  }

  @include mediaquery(desktop){
    padding: 30px 0 45px;

    .component-text {
      display: block;
    }

    .text-eyebrow {
      margin-right: 0;
    }
  }
}

#found-categories-detail {
  padding: 0 15px 25px 20px;

  .found-category-detail {
    margin-top: 20px;
  }

  @include mediaquery-max(desktop){
    background-color: $white;
  }

  @include mediaquery(desktop){
    padding: 0 50px 60px 80px;

    .found-category-detail {
      margin-top: 30px;
    }
  }
}