body.page-residences {
	#row-hero {
		height: 76vw;

		@include mediaquery(desktop) {
			height: calc(100vh - #{$nav-height});
		}
	}

	#row-description {
		.body-text {
			@include mediaquery(desktop) {
				max-width: 900px;
			}
		}
	}
}
