$component-feed-filter-search-h-padding: $gap*(1.5);
$component-feed-filter-search-v-padding: $gap/2;
$component-feed-filter-search-border-radius: 25px;

.component-feed-filter {
	z-index: 500;

	.search & {
		text-align:center;
	}

	@extend .clearfix;

	// SVG icons.
	.icon {
		display: inline-block;
		vertical-align: middle;
	}

	// Text trigger for region / topic filters.
	.filters {
		display: block;
		margin: $gap*.2 auto $gap;
		text-align: center;
		vertical-align: middle;

		@include tablet-landscape {
			display: inline-block;
			text-align: left;
			float: left;
			margin: auto;

			.search & {
				float: none;
				text-align:center;
			}
		}

		& > .fragment {
			display: inline-block;
			font-size: inherit;
			position: relative;
			overflow: visible;
			color: color('misc', 'text-black');

			& > a {
				color: color('ground', 'blue');
				text-decoration: underline;

				&:after {
					// Extend the underline so that it's under the chevron.
					content: "\00a0";
				}

				span {
					font-size: inherit;
				}

				.icon-chevron {
					// border-bottom: 2px solid color('ground', 'blue');
					fill: color('ground', 'blue');
					height: 16px;
					width: 8px;
					display: inline;
					position: absolute;
					right: 2px;
					top: 20%;

					@include transform-rotate(90deg);
				}
			}
		}
	}

	// Filter popups.
	.filter {
		background: color('misc', 'bg-white');
		border-radius: $gap;
		max-height: 0px;
		overflow: hidden;
		position: absolute;
		z-index: 100;

		@include shadow(0 2px 20px 0 rgba(0,0,0,0.10));
		@include transition(all 0.3s ease-in-out);

		&.active {
			max-height: 10000px;
		}

		li {
			display: block;
			padding: 0 $gap;

			&:first-child {
				padding-top: $gap;
			}
			&:last-child {
				padding-bottom: $gap;

				a {
					margin-bottom: 0;
				}
			}
		}

		a {
			color: color('misc', 'text-black');
			display: block;
			margin-bottom: $gap/2;
			text-align: left;
			white-space: nowrap;
			@include font-size($font-size-p-small);

			&:hover,
			&:active {
				color: color('ground', 'blue');
			}
		}
	}

	// Container for the search box and the toggle buttons.
	.controls {
		display: block;
		margin: 0 auto;
		text-align: center;
		vertical-align: middle;

		@include tablet-landscape {
			display: inline-block;
			margin: auto;
			text-align: left;
			float: right;
		}
	}

	// The search field.
	.search-container {
		border-radius: $component-feed-filter-search-border-radius;
		padding: 0 0 0 $component-feed-filter-search-h-padding;


		.search {
			padding: $component-feed-filter-search-v-padding 0;

		}

		.submit-btn {
			padding: 5px $component-feed-filter-search-h-padding 5px 0;
			right: 4px;
		}

		@include tablet-portrait {
			width: 60%;
			display: inline-block;
		}
	}


	.view-toggle {
		background: color('misc', 'bg-white');
		border-radius: 25px;
		display: none;
		width: auto;
		vertical-align: middle;

		@include tablet-portrait {
			display: inline-block;
		}

		li {
			display: inline-block;
			width: 49%;

			span {
				color: rgba(color('misc', 'text-black'), 0.4);
			    font-size: 14px;
			    font-weight: 600;
			    margin-left: $gap*.5;
				vertical-align: -2px;

				@include tablet-portrait {
					display: none;
				}
			}

			@include tablet-portrait {
				width: 48%;
			}

			&.active {
				background: color('misc', 'text-black');
				border-radius: 50%;

				a svg {
					fill: color('misc', 'bg-white');
				}

				span {
					color: white;
				}
			}
		}

		a {
			display: block;
			padding: 14px;

			svg {
				fill: rgba(color('misc', 'text-black'), 0.4);

				&.icon-grid, &.icon-list {
					height: 16px;
					width: 16px;
				}
			}
		}



	}

	&.small-dropdown {
		.filters {
			font-size: 18px;

			>.fragment>a .icon-chevron {
				height: 11px;
				width: 6px;
				right: 1px;
			}
		}
		
	}	
}


.component-feed-filter-center  {

	.filters {
		text-align: center;
		float: none;	

	}

}