.component-custom-map {
  display: flex;
  align-items: center;
  justify-content: center;

  .map-wrapper {
    position: relative;
  }

  .map-marker {
    padding: 0;
    width: 15px;
    height: auto;
    border: none;
    display: none;
    min-height: 30px;
    position: absolute;
    background: transparent no-repeat center;
  }

  @include mediaquery(desktop){

  }
}