.component-custom-map {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .map-image-wrapper {
    position: relative;
  }

  .map-text {
    margin: 10px;
    font-weight: bold;
    text-align: center;
  }

  .marker-wrapper {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }

  .map-marker {
    padding: 0;
    width: 15px;
    height: auto;
    border: none;
    display: block;
    min-height: 30px;
    position: absolute;
    background: transparent no-repeat center;
    background-size: contain;
  }

  @include mediaquery(desktop){
    .map-text {
      margin: 0;
      position: absolute;
    }
  }
}

.marker-popup {
  $popupBackground: color('clam-shell');
  padding: 10px 5px;
  visibility: hidden;
  text-align: center;
  border-radius: 5px;
  color: color('timber-green');
  background-color: $popupBackground;

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  // bottom arrow
  &:after {
    $arrowWidth: 10px;
    content: "";
    top: 100%;
    left: 50%;
    margin-left: -$arrowWidth;
    position: absolute;
    border: $arrowWidth solid transparent;
    border-top-color: $popupBackground;
  }


  &.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  .popup-close {
    top: 5px;
    right: 5px;
    font-size: 15px;
    line-height: 0.5;
    position: absolute;
    color: color('desert');
  }

  .marker-title,
  .marker-body,
  .marker-phone {
    font-family: Buenard;
  }

  .marker-title {
    font-size: 14px;
    font-weight: bold;
  }

  .marker-body {
    font-size: 12px;
  }

  .marker-phone {
    font-size: 12px;
    color: color('desert');
  }


  @include mediaquery(desktop){
    padding: 12px 20px;
    max-width: 160px;

    .marker-body,
    .marker-phone {
      font-size: 14px;
    }

    .popup-close {
      top: 8px;
      right: 8px;
      font-size: 30px;
    }
  }
}